# Chapter 28

## Imports

In [1]:
import pandas as pd
import numpy as np

In [4]:
jb2 = pd.read_csv('data/jet_brains_python_2020_survey_data_cleaned.csv',
                  index_col=0)
jb2

,age,are_you_datascientist,company_size,country_live,employment_status,first_learn_about_main_ide,how_often_use_main_ide,ide_main,is_python_main,job_team,main_purposes,missing_features_main_ide,nps_main_ide,python_years,python3_version_most,several_projects,team_size,use_python_most,years_of_coding,python3_ver
1,21,True,5000,India,Fully employed by a company / organization,School / University,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",8.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",2,Software prototyping,3.0,3.6
2,30,False,5000,United States,Fully employed by a company / organization,Friend / Colleague,Daily,Vim,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",10.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",4,DevOps / System administration / Writing autom...,3.0,3.6
10,21,False,51,Other country,Fully employed by a company / organization,School / University,Daily,IntelliJ IDEA,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,1.0,Python 3_8,"Yes, I work on one main and several side projects",2,Web development,1.0,3.8
11,21,True,51,United States,Fully employed by a company / organization,Online learning platform / Online course,Daily,PyCharm Community Edition,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",9.0,3.0,Python 3_9,"Yes, I work on many different projects",2,Data analysis,3.0,3.9
13,30,True,5000,Belgium,Fully employed by a company / organization,Social network,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,6.0,Python 3_7,"Yes, I work on many different projects",2,Data analysis,3.0,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54456,30,False,1001,Turkey,Fully employed by a company / organization,Friend / Colleague,Daily,PyCharm Community Edition,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",9.0,1.0,Python 3_6,"Yes, I work on many different projects",5,Machine learning,6.0,3.6
54457,21,False,2,Russian Federation,Fully employed by a company / organization,School / University,Daily,Vim,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",10.0,6.0,Python 3_6,"Yes, I work on many different projects",2,Data analysis,1.0,3.6
54459,21,False,1,Russian Federation,Self-employed (a person earning income directl...,Friend / Colleague,Daily,PyCharm Professional Edition,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,3.0,Python 3_7,"Yes, I work on many different projects",1,Web development,6.0,3.7
54460,30,True,51,Spain,Fully employed by a company / organization,Search engines,Daily,Other,Yes,Work on your own project(s) independently,Both for work and personal,Yes – Please list:,3.0,6.0,Python 3_7,"Yes, I work on many different projects",4,Data analysis,3.0,3.7
54461,21,False,11,Algeria,Fully employed by a company / organization,Online learning platform / Online course,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,1.0,Python 3_8,"Yes, I work on many different projects",2,Unknown,1.0,3.8

## 28.1 Aggregations while Keeping Rows

In [9]:
(jb2
 .groupby('country_live')
 .age
 .transform('size')
)

1        1063
2        2697
10        334
11       2697
13        135
         ...
54456      99
54457     502
54459     502
54460     298
54461      18
Name: age, Length: 13711, dtype: int64

In [13]:
(jb2
 .assign(country_responses=(jb2
                            .groupby('country_live')
                            .age
                            .transform('size')
                            )
         )
#  [['country_live', 'country_responses']]
)

,age,are_you_datascientist,company_size,country_live,employment_status,first_learn_about_main_ide,how_often_use_main_ide,ide_main,is_python_main,job_team,...,missing_features_main_ide,nps_main_ide,python_years,python3_version_most,several_projects,team_size,use_python_most,years_of_coding,python3_ver,country_responses
1,21,True,5000,India,Fully employed by a company / organization,School / University,Daily,VS Code,Yes,Work in a team,...,"No, it has all the features I need",8.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",2,Software prototyping,3.0,3.6,1063
2,30,False,5000,United States,Fully employed by a company / organization,Friend / Colleague,Daily,Vim,Yes,Work on your own project(s) independently,...,"No, it has all the features I need",10.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",4,DevOps / System administration / Writing autom...,3.0,3.6,2697
10,21,False,51,Other country,Fully employed by a company / organization,School / University,Daily,IntelliJ IDEA,Yes,Work in a team,...,"No, it has all the features I need",10.0,1.0,Python 3_8,"Yes, I work on one main and several side projects",2,Web development,1.0,3.8,334
11,21,True,51,United States,Fully employed by a company / organization,Online learning platform / Online course,Daily,PyCharm Community Edition,Yes,Work in a team,...,"No, it has all the features I need",9.0,3.0,Python 3_9,"Yes, I work on many different projects",2,Data analysis,3.0,3.9,2697
13,30,True,5000,Belgium,Fully employed by a company / organization,Social network,Daily,VS Code,Yes,Work in a team,...,"No, it has all the features I need",10.0,6.0,Python 3_7,"Yes, I work on many different projects",2,Data analysis,3.0,3.7,135
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54456,30,False,1001,Turkey,Fully employed by a company / organization,Friend / Colleague,Daily,PyCharm Community Edition,Yes,Work on your own project(s) independently,...,"No, it has all the features I need",9.0,1.0,Python 3_6,"Yes, I work on many different projects",5,Machine learning,6.0,3.6,99
54457,21,False,2,Russian Federation,Fully employed by a company / organization,School / University,Daily,Vim,Yes,Work on your own project(s) independently,...,"No, it has all the features I need",10.0,6.0,Python 3_6,"Yes, I work on many different projects",2,Data analysis,1.0,3.6,502
54459,21,False,1,Russian Federation,Self-employed (a person earning income directl...,Friend / Colleague,Daily,PyCharm Professional Edition,Yes,Work in a team,...,"No, it has all the features I need",10.0,3.0,Python 3_7,"Yes, I work on many different projects",1,Web development,6.0,3.7,502
54460,30,True,51,Spain,Fully employed by a company / organization,Search engines,Daily,Other,Yes,Work on your own project(s) independently,...,Yes – Please list:,3.0,6.0,Python 3_7,"Yes, I work on many different projects",4,Data analysis,3.0,3.7,298
54461,21,False,11,Algeria,Fully employed by a company / organization,Online learning platform / Online course,Daily,VS Code,Yes,Work in a team,...,"No, it has all the features I need",10.0,1.0,Python 3_8,"Yes, I work on many different projects",2,Unknown,1.0,3.8,18

## 28.2 Filtering Parts of Groups

In [15]:
(jb2
 .country_live
 .value_counts()
 .median())

60.5

In [47]:
countries_to_remove = (jb2
                       .country_live
                       .value_counts()
                       .lt(60.5)
                       .index
                    )
countries_to_remove

Index(['United States', 'Germany', 'India', 'United Kingdom', 'France',
       'China', 'Russian Federation', 'Brazil', 'Canada', 'Poland',
       'Other country', 'Netherlands', 'Spain', 'Australia', 'Italy',
       'Czech Republic', 'Ukraine', 'Israel', 'Sweden', 'Switzerland', 'Japan',
       'Belgium', 'Mexico', 'Austria', 'Norway', 'Finland', 'Argentina',
       'Denmark', 'Turkey', 'Colombia', 'Portugal', 'Greece', 'Ireland',
       'Iran', 'South Africa', 'Romania', 'South Korea', 'New Zealand',
       'Hungary', 'Pakistan', 'Chile', 'Indonesia', 'Singapore', 'Belarus',
       'Bulgaria', 'Taiwan', 'Nigeria', 'Lithuania', 'Kenya', 'Philippines',
       'Nepal', 'Slovakia', 'Bangladesh', 'Viet Nam', 'Slovenia', 'Peru',
       'Serbia', 'Thailand', 'Estonia', 'Venezuela', 'Ecuador', 'Uruguay',
       'Egypt', 'Croatia', 'Algeria', 'Malaysia', 'United Arab Emirates',
       'Armenia', 'Ghana', 'Dominican Republic', 'Saudi Arabia', 'Kazakhstan',
       'Sri Lanka', 'Morocco', 'Tunisia', 'Uzbekistan'],
      dtype='object')

In [44]:
(jb2
 .query('~country_live.isin(@countries_to_remove)')
)

,age,are_you_datascientist,company_size,country_live,employment_status,first_learn_about_main_ide,how_often_use_main_ide,ide_main,is_python_main,job_team,main_purposes,missing_features_main_ide,nps_main_ide,python_years,python3_version_most,several_projects,team_size,use_python_most,years_of_coding,python3_ver
1,21,True,5000,India,Fully employed by a company / organization,School / University,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",8.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",2,Software prototyping,3.0,3.6
2,30,False,5000,United States,Fully employed by a company / organization,Friend / Colleague,Daily,Vim,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",10.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",4,DevOps / System administration / Writing autom...,3.0,3.6
10,21,False,51,Other country,Fully employed by a company / organization,School / University,Daily,IntelliJ IDEA,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,1.0,Python 3_8,"Yes, I work on one main and several side projects",2,Web development,1.0,3.8
11,21,True,51,United States,Fully employed by a company / organization,Online learning platform / Online course,Daily,PyCharm Community Edition,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",9.0,3.0,Python 3_9,"Yes, I work on many different projects",2,Data analysis,3.0,3.9
13,30,True,5000,Belgium,Fully employed by a company / organization,Social network,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,6.0,Python 3_7,"Yes, I work on many different projects",2,Data analysis,3.0,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54456,30,False,1001,Turkey,Fully employed by a company / organization,Friend / Colleague,Daily,PyCharm Community Edition,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",9.0,1.0,Python 3_6,"Yes, I work on many different projects",5,Machine learning,6.0,3.6
54457,21,False,2,Russian Federation,Fully employed by a company / organization,School / University,Daily,Vim,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",10.0,6.0,Python 3_6,"Yes, I work on many different projects",2,Data analysis,1.0,3.6
54459,21,False,1,Russian Federation,Self-employed (a person earning income directl...,Friend / Colleague,Daily,PyCharm Professional Edition,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,3.0,Python 3_7,"Yes, I work on many different projects",1,Web development,6.0,3.7
54460,30,True,51,Spain,Fully employed by a company / organization,Search engines,Daily,Other,Yes,Work on your own project(s) independently,Both for work and personal,Yes – Please list:,3.0,6.0,Python 3_7,"Yes, I work on many different projects",4,Data analysis,3.0,3.7
54461,21,False,11,Algeria,Fully employed by a company / organization,Online learning platform / Online course,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,1.0,Python 3_8,"Yes, I work on many different projects",2,Unknown,1.0,3.8

In [46]:
~jb2['country_live'].isin(countries_to_remove)

1        True
2        True
10       True
11       True
13       True
         ...
54456    True
54457    True
54459    True
54460    True
54461    True
Name: country_live, Length: 13711, dtype: bool

In [26]:
(jb2
 .groupby('country_live')
 .filter(lambda g: g.country_live.size >= 60.5))

,age,are_you_datascientist,company_size,country_live,employment_status,first_learn_about_main_ide,how_often_use_main_ide,ide_main,is_python_main,job_team,main_purposes,missing_features_main_ide,nps_main_ide,python_years,python3_version_most,several_projects,team_size,use_python_most,years_of_coding,python3_ver
1,21,True,5000,India,Fully employed by a company / organization,School / University,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",8.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",2,Software prototyping,3.0,3.6
2,30,False,5000,United States,Fully employed by a company / organization,Friend / Colleague,Daily,Vim,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",10.0,3.0,Python 3_6,"Yes, I work on one main and several side projects",4,DevOps / System administration / Writing autom...,3.0,3.6
10,21,False,51,Other country,Fully employed by a company / organization,School / University,Daily,IntelliJ IDEA,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,1.0,Python 3_8,"Yes, I work on one main and several side projects",2,Web development,1.0,3.8
11,21,True,51,United States,Fully employed by a company / organization,Online learning platform / Online course,Daily,PyCharm Community Edition,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",9.0,3.0,Python 3_9,"Yes, I work on many different projects",2,Data analysis,3.0,3.9
13,30,True,5000,Belgium,Fully employed by a company / organization,Social network,Daily,VS Code,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,6.0,Python 3_7,"Yes, I work on many different projects",2,Data analysis,3.0,3.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54450,30,False,51,United States,Fully employed by a company / organization,Friend / Colleague,Daily,PyCharm Professional Edition,Yes,Work in a team,For work,"No, it has all the features I need",10.0,6.0,Python 3_8,"Yes, I work on one main and several side projects",8,Web development,11.0,3.8
54456,30,False,1001,Turkey,Fully employed by a company / organization,Friend / Colleague,Daily,PyCharm Community Edition,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",9.0,1.0,Python 3_6,"Yes, I work on many different projects",5,Machine learning,6.0,3.6
54457,21,False,2,Russian Federation,Fully employed by a company / organization,School / University,Daily,Vim,Yes,Work on your own project(s) independently,Both for work and personal,"No, it has all the features I need",10.0,6.0,Python 3_6,"Yes, I work on many different projects",2,Data analysis,1.0,3.6
54459,21,False,1,Russian Federation,Self-employed (a person earning income directl...,Friend / Colleague,Daily,PyCharm Professional Edition,Yes,Work in a team,Both for work and personal,"No, it has all the features I need",10.0,3.0,Python 3_7,"Yes, I work on many different projects",1,Web development,6.0,3.7
54460,30,True,51,Spain,Fully employed by a company / organization,Search engines,Daily,Other,Yes,Work on your own project(s) independently,Both for work and personal,Yes – Please list:,3.0,6.0,Python 3_7,"Yes, I work on many different projects",4,Data analysis,3.0,3.7

# Chapter 29

## 29.1 Cross-tabulation Summaries

In [48]:
pd.crosstab(index=jb2.country_live, columns=jb2.age)

age            18   21    30   40   50   60
country_live
Algeria         2    7     5    3    0    1
Argentina       1   38    44   20    5    1
Armenia         1   13     3    0    0    0
Australia       4   58   110   63   30    9
Austria         1   31    62   22   12    0
...            ..  ...   ...  ...  ...  ...
United States  40  753  1042  478  264  120
Uruguay         0    6    13    1    0    0
Uzbekistan      0    4     0    0    0    0
Venezuela       1   10     4    5    2    0
Viet Nam        1   26     4    1    0    1

[76 rows x 6 columns]

## 29.2 Adding Margins

In [49]:
pd.crosstab(index=jb2.country_live, columns=jb2.age,
            margins=True)

age            18    21    30    40   50   60    All
country_live
Algeria         2     7     5     3    0    1     18
Argentina       1    38    44    20    5    1    109
Armenia         1    13     3     0    0    0     17
Australia       4    58   110    63   30    9    274
Austria         1    31    62    22   12    0    128
...           ...   ...   ...   ...  ...  ...    ...
Uruguay         0     6    13     1    0    0     20
Uzbekistan      0     4     0     0    0    0      4
Venezuela       1    10     4     5    2    0     22
Viet Nam        1    26     4     1    0    1     33
All           315  5270  5054  2028  822  222  13711

[77 rows x 7 columns]

## 29.3 Normalizing Results

In [50]:
pd.crosstab(index=jb2.country_live, columns=jb2.age,
            normalize=True)

age                  18        21        30        40        50        60
country_live
Algeria        0.000146  0.000511  0.000365  0.000219  0.000000  0.000073
Argentina      0.000073  0.002771  0.003209  0.001459  0.000365  0.000073
Armenia        0.000073  0.000948  0.000219  0.000000  0.000000  0.000000
Australia      0.000292  0.004230  0.008023  0.004595  0.002188  0.000656
Austria        0.000073  0.002261  0.004522  0.001605  0.000875  0.000000
...                 ...       ...       ...       ...       ...       ...
United States  0.002917  0.054919  0.075997  0.034863  0.019255  0.008752
Uruguay        0.000000  0.000438  0.000948  0.000073  0.000000  0.000000
Uzbekistan     0.000000  0.000292  0.000000  0.000000  0.000000  0.000000
Venezuela      0.000073  0.000729  0.000292  0.000365  0.000146  0.000000
Viet Nam       0.000073  0.001896  0.000292  0.000073  0.000000  0.000073

[76 rows x 6 columns]

In [52]:
pd.crosstab(index=jb2.country_live, columns=jb2.age,
            normalize='columns')

age,18,21,30,40,50,60,All
country_live,,,,,,,
Algeria,0.006349,0.001328,0.000989,0.001479,0.000000,0.004505,0.001313
Argentina,0.003175,0.007211,0.008706,0.009862,0.006083,0.004505,0.007950
Armenia,0.003175,0.002467,0.000594,0.000000,0.000000,0.000000,0.001240
Australia,0.012698,0.011006,0.021765,0.031065,0.036496,0.040541,0.019984
Austria,0.003175,0.005882,0.012268,0.010848,0.014599,0.000000,0.009336
...,...,...,...,...,...,...,...
United States,0.126984,0.142884,0.206173,0.235700,0.321168,0.540541,0.196703
Uruguay,0.000000,0.001139,0.002572,0.000493,0.000000,0.000000,0.001459
Uzbekistan,0.000000,0.000759,0.000000,0.000000,0.000000,0.000000,0.000292
Venezuela,0.003175,0.001898,0.000791,0.002465,0.002433,0.000000,0.001605
Viet Nam,0.003175,0.004934,0.000791,0.000493,0.000000,0.004505,0.002407

In [55]:
pd.crosstab(index=jb2.country_live, columns=jb2.age,
            normalize='index')

age                  18        21        30        40        50        60
country_live
Algeria        0.111111  0.388889  0.277778  0.166667  0.000000  0.055556
Argentina      0.009174  0.348624  0.403670  0.183486  0.045872  0.009174
Armenia        0.058824  0.764706  0.176471  0.000000  0.000000  0.000000
Australia      0.014599  0.211679  0.401460  0.229927  0.109489  0.032847
Austria        0.007812  0.242188  0.484375  0.171875  0.093750  0.000000
...                 ...       ...       ...       ...       ...       ...
United States  0.014831  0.279199  0.386355  0.177234  0.097887  0.044494
Uruguay        0.000000  0.300000  0.650000  0.050000  0.000000  0.000000
Uzbekistan     0.000000  1.000000  0.000000  0.000000  0.000000  0.000000
Venezuela      0.045455  0.454545  0.181818  0.227273  0.090909  0.000000
Viet Nam       0.030303  0.787879  0.121212  0.030303  0.000000  0.030303

[76 rows x 6 columns]

## 29.4 Hierarchical Columns with Cross Tabulations

In [56]:
(pd.crosstab(index=[jb2.country_live, jb2.age],
             columns=[jb2.use_python_most, jb2.python3_version_most])
 .loc[['United States']]
)

use_python_most        Computer graphics                                   \
python3_version_most Python 3_5 or lower Python 3_6 Python 3_7 Python 3_8
country_live  age
United States 18                       0          0          0          0
              21                       0          0          1          1
              30                       0          0          0          1
              40                       0          0          0          3
              50                       0          0          1          2
              60                       0          0          1          0

use_python_most                       Data analysis                        \
python3_version_most Python 3_9 Python 3_5 or lower Python 3_6 Python 3_7
country_live  age
United States 18              0                   0          0          1
              21              1                   1         18         48
              30              0                   3         29         66
              40              0                   0         14         30
              50              0                   2          6         26
              60              0                   0          1         11

use_python_most                             ...             Unknown  \
python3_version_most Python 3_8 Python 3_9  ... Python 3_5 or lower
country_live  age                           ...
United States 18              5          0  ...                   0
              21             64         11  ...                   0
              30             90         12  ...                   0
              40             45          3  ...                   2
              50             36          1  ...                   1
              60             11          1  ...                   0

use_python_most                                                   \
python3_version_most Python 3_6 Python 3_7 Python 3_8 Python 3_9
country_live  age
United States 18              1          0          1          0
              21             10         13         11          4
              30              7         19         14          4
              40              5          5          2          4
              50              2          3          6          0
              60              4          2          3          0

use_python_most          Web development                                   \
python3_version_most Python 3_5 or lower Python 3_6 Python 3_7 Python 3_8
country_live  age
United States 18                       0          0          1          4
              21                       3         28         54         81
              30                       3         60         77        129
              40                       1         14         26         66
              50                       0         10         12         14
              60                       0          3          5          5

use_python_most
python3_version_most Python 3_9
country_live  age
United States 18              0
              21              4
              30             14
              40              8
              50              2
              60              1

[6 rows x 84 columns]

In [57]:
(pd.crosstab(index=[jb2.country_live, jb2.age],
             columns=[jb2.use_python_most, jb2.python3_version_most])
 .loc[['United States'], ['Data analysis', 'Web development']]
)

use_python_most            Data analysis                                   \
python3_version_most Python 3_5 or lower Python 3_6 Python 3_7 Python 3_8
country_live  age
United States 18                       0          0          1          5
              21                       1         18         48         64
              30                       3         29         66         90
              40                       0         14         30         45
              50                       2          6         26         36
              60                       0          1         11         11

use_python_most                     Web development                        \
python3_version_most Python 3_9 Python 3_5 or lower Python 3_6 Python 3_7
country_live  age
United States 18              0                   0          0          1
              21             11                   3         28         54
              30             12                   3         60         77
              40              3                   1         14         26
              50              1                   0         10         12
              60              1                   0          3          5

use_python_most
python3_version_most Python 3_8 Python 3_9
country_live  age
United States 18              4          0
              21             81          4
              30            129         14
              40             66          8
              50             14          2
              60              5          1

## 29.5 Heatmaps

In [58]:
(pd.crosstab(index=[jb2.country_live, jb2.age],
             columns=[jb2.use_python_most, jb2.python3_version_most])
 .loc[['United States'], ['Data analysis', 'Web development']]
 .style.background_gradient(cmap='viridis', axis=None)
)